:root {
    /* --main-font: garamond-premier-pro-display, serif; */
    /* --main-font-weight: 400; */
    /* --main-font: "orpheuspro", serif;  */
    /* --main-font: 'Cormorant Garamond', serif;  */
    --main-font: 'Tinos', serif; 
    --secondary-font: 'Lato', sans-serif;
    --main-font-color: rgba(255, 255, 255, 0.85);

    --main-margin: 40px;
    --border-color: rgba(255, 255, 255, 0.6);
    --border-color-lighter: rgba(255, 255, 255, 0.3);
}

/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { */
html, body {
	margin: 0;
	padding: 0;
	border: 0;
    -webkit-font-smoothing: antialiased;
}

html {
    background: #102118;
    background-image: url('img/flower-pattern-60.svg');

    background-repeat: no-repeat;
    
    /* background-repeat: repeat-x; */
 
     
    background-position: center -35px;
    /* background-size: 1351px; */
    background-size: 100%;
    color: var(--main-font-color);

}
body {
    text-align: center;
    padding-top: 200px;
    /* font-size: 1.25rem; */
    /* background: #102118; */
    color: var(--main-font-color);
    margin: 0;
    padding: 0;
    /* font-weight: var(--main-font-weight); */

    background-image: url('img/shape.svg');
    background-repeat: no-repeat;
    background-position: center 70px;
    /* background-size: 800px; */
    
    background-size: 1000px;
    min-height: 1000px;
    font-family: var(--secondary-font);
    font-weight: 400;
    padding-bottom: 100px;
}

h1,h2,h3,h4,h5,h6 {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-weight: 100;
}

a:link,
a:visited,
a:active,
a:hover {
    color: var(--main-font-color);
    text-decoration: underline;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

nav {
    background: #6d7b73;
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
}

nav h1, nav .h1 {
    color: #000;
    font-size: 18px;
    font-style: italic;
    margin: 0;
    padding: 12px 0;
    font-family: var(--main-font);
    letter-spacing: 1px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-flex;
    margin: 20px 10px;
    padding-right: 20px;
    border-right: 1px solid var(--border-color);
    font-size: 20px;
}

nav ul li:last-of-type {
    display: inline-flex;
    margin: 20px 10px;
    padding-right: 0;
    border-right: none;
}

.separator-bar {
    background: #6d7b73;
    min-height: var(--main-margin);
    margin: 100px 0 0 0;
}

.location {
    margin: var(--main-margin) 0;
}

.location:before {
    content: ' ';
    width: 200px;
    border-top: 1px solid var(--border-color);
    display:block;
    margin: var(--main-margin) auto;
}

.location-type {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
}

.location-title {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-style: italic;
    font-size: 26px;
    margin:0;
    margin-bottom: 5px;
    letter-spacing:1px;
}

.footer-logo {
    width: 125px;
    margin:0 auto;
    margin-top: calc(var(--main-margin)*2);
}

.logo-wrapper {
    margin-top: 220px;
    width:100%;
}

.logo-wrapper img {
    /* width: 280px;
     */
     width: 160px;
     vertical-align: middle;
}

.logo-wrapper .logo-name {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    vertical-align: middle;
    
    font-size: 18px;
    font-style: italic;
    font-family: var(--main-font);
    color: rgba(255, 255, 255, 0.6)

}

.logo-name-chaz {
    text-align:right;
    margin-right: 10px;
}

.logo-name-jessica {
    text-align:left;
    margin-left: 10px;
}

.big-buttons {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.big-buttons li {
    display: inline-block;
    margin-right: calc(var(--main-margin)/2);
}

.big-buttons li:last-of-type {
    margin-right: 0;
}

.rsvp,
a.rsvp,
a.rsvp:link,
a.rsvp:visited,
a.rsvp:active,
a.rsvp:hover,
.registry,
a.registry,
a.registry:link,
a.registry:visited,
a.registry:active,
a.registry:hover, .button.submit {
    font-style: italic;
    text-transform: uppercase;
    font-family: var(--main-font);
    letter-spacing: 6px;
    color: var(--main-font-color);
    text-decoration: none;
    font-size: 40px;
    padding: 10px 15px;
    border: solid #868f8a 1px;
    line-height: 2;
    transition: all 130ms ease-in-out;
    background: transparent;
}

.registry,
a.registry,
a.registry:link,
a.registry:visited,
a.registry:active,
a.registry:hover {
    letter-spacing: 1px;
}

a.rsvp:hover,
a.registry:hover, .button.submit:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: #fff;
    color: #fff;
    cursor: pointer;
}

.address {
    margin: 0;
    margin-bottom: 10px;
    font-family: var(--main-font);
    font-size: 20px;
}

.more-container-ring {
    background: url('/img/holding-hands.jpg');
    background-size: cover;
    background-position: top center;
    margin: 0;
    padding: calc(var(--main-margin)*2) var(--main-margin);
}

.more-container-chapel {
    background: url('/img/altamonte-chapel-background.jpg');
    background-position: top center;
    background-size: cover;
    margin: 0;
    padding: calc(var(--main-margin)*2) var(--main-margin);
  
}

.more-container-ring .location-ceremony {
    margin-top: 0;
}

.more-container-ring address {
    margin-bottom: 0;
}

.more-container {
    margin: 0;
    padding: var(--main-margin);
}

.location-information {
    margin: 0 auto;
    width: fit-content;
    text-align: left;
}

.location-information {
    width: 1000px;
}

.location-information .location:before {
    width: 100%;
}

.location-thumb {
    width: 230px;
    border-radius: 20px;
    display: inline-block;
    margin-right: var(--main-margin);
}

.location-wrapper {
    display:inline-block;
    vertical-align: top;
    text-align: left;
    width: 500px;
}

ul.links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.links li {
    display: inline-flex;
    padding-right: 20px;
    border-right: 1px solid var(--border-color);
    font-size: 16px;
}

ul.links li:last-of-type {
    display: inline-flex;
    margin: 20px 10px;
    padding-right: 0;
    border-right: none;
}

.more-info {
    width: 1000px;
    margin: 0 auto;
    text-align: left;

}

.more-info h3 {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 26px;
    font-style: italic;
    margin-bottom: 30px;
}

.more-info p {
    line-height: 1.4;
    font-size: 18px;
    font-weight: 400;
}

.more-info h3:before {
    content: ' ';
    border-top: 1px solid var(--border-color-lighter);
    display:block;
    margin: var(--main-margin) auto;
}

.please-join {
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 44px;
    display: block;
    margin-bottom: 10px;
}

.to-celebrate {
    font-style: italic;
    font-size: 25px;
    display: block;
}

.date-and-time,
.date,
.time {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 26px;
    text-transform: uppercase;
    font-style: italic;
    margin-bottom: 30px;
    line-height: 0.9;
}

.more-info p.see-you-soon {
    font-family: var(--main-font);
    color: var(--main-font-color);
    font-size: 26px;
    font-style: italic;
    margin-bottom: 30px;
}

.contact-form {
    margin-top: var(--main-margin);
}

.contact-form .input-container {

    position: relative;
}

.contact-form input,
.contact-form textarea,
.contact-form .button {
    padding: 16px 20px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-weight: normal;
    font-family: var(--secondary-font);
    margin-bottom: calc(var(--main-margin)/2);
    font-size: 16px;
}

.contact-form .button.submit {
    width: auto;
    color: var(--main-font-color);
    font-family: var(--main-font);
    font-size: 25px;
    padding: 10px 15px;
}

.contact-form textarea {
    height: 125px;
    text-align: left;
}

.contact-form input {
    text-align: left;
}

.heart {
    font-style: normal;
}

.hidden-on-desktop {
    display: none;
}

.ring {
    width: 80%;
    margin: 0 auto;
    border-radius: 20px;
}


@media (max-width: 900px) {
    :root {
        --main-margin: 30px;
    }

    html {
        margin-top: 60px;
        background-size: 150%;
    }

    .more-info {
        width: auto;
    }

    .location-wrapper {
        width: auto;
    }

    .location-information {
        width: auto;
    }

    .big-buttons li {
        display: block;
        margin-right: 0;
    }

    .location-thumb {
        width: 230px;
        border-radius: 20px;
        display: block;
        margin: 0 auto;
    }

    .location-wrapper {
        text-align: center;
    }

    .location-information {
        text-align: center;
    }

    .logo-wrapper img {
        width: 125px;
    }

    .logo-wrapper .logo-name {
        width: auto;
    }

    .logo-wrapper {
        margin-top: 110px;
    }

    .please-join {
        font-size: 30px;
    }

    .more-info p {
        line-height: 1.4;
        font-size: 16px;
        font-weight: 400;
    }

    .more-container-ring {
        background-image: url('/img/pattern-background.jpg');
        background-size: 150%;
        margin-top: calc(var(--main-margin) * 2);
        border-top: solid #6d7b73 1px;
        border-bottom: solid #6d7b73 1px;
    }

    .more-container-chapel {
        background-image: url('/img/pattern-background.jpg');
        background-size: 150%;
        border-top: solid #6d7b73 1px;
        border-bottom: solid #6d7b73 1px;
    }

    .separator-bar  {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin-top: 0;
        padding-bottom: 10px;
        padding-top: 10px;
        z-index: 10;
    }

    .separator-bar ul li {
        margin: 5px 5px 5px 0;
        padding-right: 8px;
    }

    .separator-bar ul li:last-of-type {
        margin: 5px 5px 5px 0;
        padding-right: 0;
    }

    nav .h1 {
        margin-bottom: 0;
        padding-bottom: 0;
        padding-top: 0;
        padding-bottom: 5px;
    }

    .hidden-on-desktop {
        display: inline-flex;
    }

    #top {
        visibility: hidden;
    }

    .note-about-rsvp {
        padding-left: var(--main-margin);
        padding-right: var(--main-margin);
    }

}